<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Example">
            <file>./tests/test.php</file>
        </testsuite>
    </testsuites>
</phpunit>

<filter>
<whitelist processUncoveredFilesFromWhitelist="false" addUncoveredFilesFromWhitelist="false">
    <file>./tests/test.php</file>
</whitelist>
</filter>

<logging>
<log type="coverage-clover" target="clover.xml"/>
</logging>